$space-unit: 20px;

$space-xxxs: 0.2 * $space-unit;
$space-xxs: 0.4 * $space-unit;
$space-xs: 0.6 * $space-unit;
$space-sm: 0.8 * $space-unit;
$space-md: 1 * $space-unit;
$space-lg: 1.2 * $space-unit;
$space-xl: 1.6 * $space-unit;
$space-xxl: 2 * $space-unit;
$space-xxxl: 2.4 * $space-unit;
